body {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  background: #fafafa;
  padding: 2rem;
  user-select: none;
  margin: 0;
}

nav {
  background-color: #333;
  padding: 1em;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1em;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 2em;
}

select, input {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1rem;
}

a {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-family: monospace;
  padding: 6px 0;
  margin: 5px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.ruby { background: linear-gradient(45deg, #f11755, #f55f79);}
.orng { background: linear-gradient(45deg, #ee6611, #f5aa42);}
.emra { background: linear-gradient(45deg, #56767f, #a8e063);}
.turq { background: linear-gradient(45deg, #1abc9c, #00ffff);}
.amet { background: linear-gradient(45deg, #bc4edd, #d807bb);}
.gold { background: linear-gradient(45deg, #eedd11, #ffee88);}
.moss { background: linear-gradient(45deg, #345678, #22dd32);}
.aqua { background: linear-gradient(45deg, #36d1dc, #5b86e5);}

a:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.4);
}
